<table id="services"></table>

<script>
    const socket = io();
    socket.on('services', function (dd) {
        console.log(dd);
    });

    const app = new Vue({
        el: '#services',
    })
</script>
